<!--<div class="main-content">-->
<div class="container-fluid">
    <div class="row">
        <div style="margin-top: 10px">
            <div class="row">
                <div style="margin-left:15px; margin-right:15px">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header lozenge-color">
                                <h4 class="title">Events</h4>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-top:15px"></div>
                                <div class="card">
                                    <div class="card-header lozenge-color">
                                        <div style="height:20px">
                                            <h4 class="title">April</h4>
                                        </div>
                                    </div>
                                    <div class="card-content table-responsive">
                                        <table class="table table-hover">
                                            <thead class="text-header">
                                                <tr>
                                                    <th colspan="2" bgcolor="#444444">Mon</th>
                                                    <th colspan="2" bgcolor="#444444">Tue</th>
                                                    <th colspan="2" bgcolor="#444444">Wed</th>
                                                    <th colspan="2" bgcolor="#444444">Thu</th>
                                                    <th colspan="2" bgcolor="#444444">Fri</th>
                                                    <th colspan="2" bgcolor="#444444">Sat</th>
                                                    <th colspan="2" bgcolor="#444444">Sun</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td height=52px bgcolor="#d9bb73">30</td>
                                                    <td height=52px bgcolor="#d9bb73">Round 1
                                                        <br>Summer Series</td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                </tr>
                                                <tr height=8px></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-top:0px"></div>
                                <div class="card">
                                    <div style="margin-top:0px">
                                        <div class="card-header lozenge-color">
                                            <div style="height:20px">
                                                <h4 class="title">May</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content table-responsive">
                                        <table class="table table-hover">
                                            <thead class="text-header">
                                                <tr>
                                                    <th colspan="2" bgcolor="#444444">Mon</th>
                                                    <th colspan="2" bgcolor="#444444">Tue</th>
                                                    <th colspan="2" bgcolor="#444444">Wed</th>
                                                    <th colspan="2" bgcolor="#444444">Thu</th>
                                                    <th colspan="2" bgcolor="#444444">Fri</th>
                                                    <th colspan="2" bgcolor="#444444">Sat</th>
                                                    <th colspan="2" bgcolor="#444444">Sun</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#d9bb73">1</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">2</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">3</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">4</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">5</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">6</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                </tr>
                                                <tr>
                                                    <td height=52px bgcolor="#f4e79a">7</td>
                                                    <td height=52px bgcolor="#f4e79a">No Racing
                                                        <br>(Bank Holiday)</td>
                                                    <td height=52px bgcolor="#f4e79a">8</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">9</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">10</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">11</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">12</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">13</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                </tr>
                                                <tr>
                                                    <td height=52px bgcolor="#d9bb73">14</td>
                                                    <td height=52px bgcolor="#d9bb73">Round 2
                                                        <br>Summer Series</td>
                                                    <td height=52px bgcolor="#d9bb73">15</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">16</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">17</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">18</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">19</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">20</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                </tr>
                                                <tr>
                                                    <td height=52px bgcolor="#f4e79a">21</td>
                                                    <td height=52px bgcolor="#f4e79a">Round 3
                                                        <br>Summer Series</td>
                                                    <td height=52px bgcolor="#f4e79a">22</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">23</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">24</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">25</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">26</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">27</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                </tr>
                                                <tr>
                                                    <td height=52px bgcolor="#d9bb73">28</td>
                                                    <td height=52px bgcolor="#d9bb73">Round 4
                                                        <br>Summer Series</td>
                                                    <td height=52px bgcolor="#d9bb73">29</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">30</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">31</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                </tr>
                                                <tr height=8px></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div style="margin-top:0px"></div>
                                <div class="card">
                                    <div style="margin-top:0px">
                                        <div class="card-header lozenge-color">
                                            <div style="height:20px">
                                                <h4 class="title">June</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content table-responsive">
                                        <table class="table table-hover">
                                            <thead class="text-header">
                                                <tr>
                                                    <th colspan="2" bgcolor="#444444">Mon</th>
                                                    <th colspan="2" bgcolor="#444444">Tue</th>
                                                    <th colspan="2" bgcolor="#444444">Wed</th>
                                                    <th colspan="2" bgcolor="#444444">Thu</th>
                                                    <th colspan="2" bgcolor="#444444">Fri</th>
                                                    <th colspan="2" bgcolor="#444444">Sat</th>
                                                    <th colspan="2" bgcolor="#444444">Sun</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#e0e0e0"></td>
                                                    <td height=52px bgcolor="#d9bb73">1</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">2</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                    <td height=52px bgcolor="#d9bb73">3</td>
                                                    <td height=52px bgcolor="#d9bb73"></td>
                                                </tr>
                                                <tr>
                                                    <td height=52px bgcolor="#f4e79a">4</td>
                                                    <td height=52px bgcolor="#f4e79a">Round 5
                                                        <br>Summer Series</td>
                                                    <td height=52px bgcolor="#f4e79a">5</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">6</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">7</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">8</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">9</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                    <td height=52px bgcolor="#f4e79a">10</td>
                                                    <td height=52px bgcolor="#f4e79a"></td>
                                                </tr>
                                                <tr height=8px></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>