.logo-alignment { display:block; margin-left: auto; margin-right: auto; }
.logo-border { border-width: 0px 0px 0px; border-color: transparent; border-style: solid; }
.logo-size { max-width: 200px; max-height: 150px20}

