<!--<div class="main-content">-->
<div class="container-fluid">
    <div class="row">
        <div style="margin-top: 10px">
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-header lozenge-color">
                        <h4 class="title">Newcastle RC Car Racers</h4>
                    </div>
                    <div class="card-content" style="padding-top:0px">
                        <form>
                            <div class="row">
                                <div style="width: 100%; height: 100%;">
                                    <table>
                                        <td>
                                            <br>
                                            <p style="margin-left:12px; margin-bottom:10px">
                                                <b>Newcastle RC Car Racers</b> is a club for racing
                                                <b>1/10th electric</b> radio controlled cars based near Newcastle in Tyne and
                                                Wear.
                                            </p>
                                            <p style="margin-left:12px; margin-bottom:10px">
                                                We race both 1/10th electric
                                                <b>touring cars and buggies</b> (2wd and 4wd). Touring Cars are stock class
                                                limited to 10.5T (buggies are open). Racing is indoors on a
                                                <b>wooden floor</b> sometimes with some carpet sections to mix it up and jumps
                                                for the buggies.
                                            </p>
                                        </td>
                                    </table>
                                    <p style="margin-left:12px; margin-bottom:10px">
                                        Racing is
                                        <b>timed using AMBRC</b>. Electric
                                        <b>power is provided</b> in the hall (note: lipos must be charged in a lipo bag).
                                    </p>
                                    <p style="margin-left:12px; margin-bottom:10px">We race every
                                        <b>Monday night from 7pm until 10pm</b> and have 4 rounds of qualifying heats followed
                                        by 2 finals. Race fees are
                                        <b>£6</b> for members and
                                        <b>£7</b> for non members (juniors £4 / £5). Non members can race as guests for two
                                        nights after which BRCA insurance/membership is required.
                                    </p>
                                    <p style="margin-left:12px; margin-bottom:10px">
                                        New racers are very welcome - you'll find everyone here is very friendly and will provide plenty of help and advice - come
                                        and try it - you'll love it...!
                                    </p>
                                    <p style="margin-left:12px;">
                                        Please use the links on the left to find out more including where to find us, plus we have a
                                        <b>
                                            <a href="https://www.facebook.com/groups/123611601118821/">Facebook page</a>
                                        </b>
                                        where you can ask questions of members and keep up with the latest chat.
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top:10px; font-size:16px" class="col-md-5">
                <img src="/assets/img/BRCA.PNG" class="TcGenericSizeSmall">
            <div class="card card-height">
                <video loop="loop" height="304px" class="bgvid" style="display: inline-block;" autoplay oncanplay="this.volume=0.05">
                    <source src="assets/videos/4wdRacing.mp4" type="video/mp4">
                </video>
                <br>
                <p>
                    See our welcome video
                    <b>
                        <a href="../videos">here</a>
                    </b>
                </p>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header lozenge-color">
                        <h4 class="title">Newcastle RC Car Racers</h4>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div style="width: 100%; height: 100%;">
                                    <p style="margin-left:12px; margin-bottom:10px">Newcastle RC Car Racers is a club for racing 1/10th electric radio controlled cars based
                                        near Newcastle in Tyne and Wear
                                    </p>
                                    <p style="margin-left:12px; margin-bottom:10px">
                                        We race both 1/10th electric touring cars and buggies (2wd and 4wd) indoors on a polished wood surface floor although sometime
                                        we add carpet in sections to mix it up
                                    </p>
                                    <p style="margin-left:12px; margin-bottom:10px">We race every Monday night from 7pm until 10pm and have 4 rounds of qualifying heats
                                        followed by 2 finals
                                    </p>
                                    <p style="margin-left:12px; margin-bottom:10px">
                                        New racers are very welcome - you'll find everyone here is very friendly and will provide plenty of help and advice - come
                                        and try it - you'll love it...!
                                    </p>
                                    <p style="margin-left:12px;">
                                        Please use the links on the left to find out more including where to find us, plus we have a
                                        <b>
                                            <a href="https://www.facebook.com/groups/123611601118821/">Facebook page</a>
                                        </b>
                                        where you can ask questions of members and keep up with the very latest discussions
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div style="margin-left:15px; margin-right:15px">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header lozenge-color">
                            <h4 class="title">Announcements</h4>
                        </div>
                        <div class="card-content">
                            <form>
                                <div class="row">
                                    <!--<div style="width: 100%; height: 100%;">-->
                                    <p style="margin-left:12px">
                                        <b>No racing on Monday 7th May</b> - we'll be back the following week (see
                                        <b>
                                            <a href="https://www.facebook.com/groups/123611601118821/">Facebook page</a>
                                        </b> for more details). Old website link
                                        <b>
                                            <a href="http://www.newcastlercracers.uk/">here</a>
                                        </b>
                                    </p>
                                    <!--</div>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="margin-left:15px; margin-right:15px">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header lozenge-color">
                            <h4 class="title">Touring Car Current Series Leaderboard</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th bgcolor="#474747">Pos.</th>
                                        <th bgcolor="#474747">Name</th>
                                        <th bgcolor="#474747">Points</th>
                                        <th bgcolor="#474747">6 races?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let racer of championshipPointsDataTC | slice:0:4">
                                        <td style="font-size: 14px; font-weight: 400">
                                            {{ racer['Series Position'] }}
                                        </td>
                                        <td style="font-size: 14px; font-weight: 400">
                                            {{ racer['Driver Name'] }}
                                        </td>
                                        <td style="font-size: 14px; font-weight: 400">
                                            {{ racer['Series Points'] }}
                                        </td>
                                        <td style="font-size: 14px; font-weight: 400">
                                            Yes
                                        </td>
                                        <!-- #JSTE# need to count the number of non 0 or null entries per one of the rows in the array if >= 6 then bingo set to yes -->
                                    </tr>
                                </tbody>
                            </table>
                            <p style="margin-left:3px; margin-top:3px; font-size:80%">
                                <i>After Round 10 on 23rd April 2018</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header lozenge-color">
                            <h4 class="title">Buggy 4wd Current Series Leaderboard</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th bgcolor="#474747">Pos.</th>
                                        <th bgcolor="#474747">Name</th>
                                        <th bgcolor="#474747">Points</th>
                                        <th bgcolor="#474747">6 races?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let racer of championshipPointsData4wd | slice:0:4">
                                        <td style="font-size: 14px; font-weight: 400">
                                            {{ racer['Series Position'] }}
                                        </td>
                                        <td style="font-size: 14px; font-weight: 400">
                                            {{ racer['Driver Name'] }}
                                        </td>
                                        <td style="font-size: 14px; font-weight: 400">
                                            {{ racer['Series Points'] }}
                                        </td>
                                        <td style="font-size: 14px; font-weight: 400">
                                            Yes
                                        </td>
                                        <!-- #JSTE# need to count the number of non 0 or null entries per one of the rows in the array if >= 6 then bingo set to yes -->
                                    </tr>
                                </tbody>
                            </table>
                            <p style="margin-left:3px; margin-top:3px; font-size:80%">
                                <i>After Round 10 on 23rd April 2018</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header lozenge-color">
                            <h4 class="title">Buggy 2wd Current Series Leaderboard</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th bgcolor="#474747">Pos.</th>
                                        <th bgcolor="#474747">Name</th>
                                        <th bgcolor="#474747">Points</th>
                                        <th bgcolor="#474747">6 races?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let racer of championshipPointsData2wd | slice:0:4">
                                        <td style="font-size: 14px; font-weight: 400">
                                            {{ racer['Series Position'] }}
                                        </td>
                                        <td style="font-size: 14px; font-weight: 400">
                                            {{ racer['Driver Name'] }}
                                        </td>
                                        <td style="font-size: 14px; font-weight: 400">
                                            {{ racer['Series Points'] }}
                                        </td>
                                        <td style="font-size: 14px; font-weight: 400">
                                            No
                                        </td>
                                        <!-- #JSTE# need to count the number of non 0 or null entries per one of the rows in the array if >= 6 then bingo set to yes -->
                                    </tr>
                                </tbody>
                            </table>
                            <p style="margin-left:3px; margin-top:3px; font-size:80%">
                                <i>After 10 on 23rd April 2018</i>
                                <!-- #JSTE# need to get max date from data - see call in race-results as an example -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>