.map-border { border-width: 10px 12px 0px; border-color: transparent; border-style: solid; }
.lozenge-color {background-color: rgb(66,66,66)}
.TcGenericSize {
    max-width: 160px;
    height: auto;
    float: left;
}
.TcGenericSizeSmall {
    max-width: 40px;
    height: auto;
    float: left;
}
.r1c1-size {
    width: 104px;
    min-width: 104px;
}
.r1c-size {
    width: 20px;
    min-width: 20px;
}
.r1cs-size {
    width: 6px;
    min-width: 6px;
}
.r1c2-size {
    width: 30px;
    min-width: 30px;
}
.r1c3-size {
    width: 175px;
    min-width: 175px;
    text-align: left;
}
.r1c4-size {
    width: 250px;
    vertical-align: center;
}
.r1c5-size {
    width: 250px;
    vertical-align: center;
}
.r1c6-size {
    width: 250px;
    vertical-align: center;
}