<!--<div class="main-content">-->
<div class="container-fluid">
    <div class="row">
        <div style="margin-top: 10px">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header lozenge-color">
                        <h4 class="title">Cars and Setups</h4>
                    </div>
                    <div class="card-content">
                        <form>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align:top">
                                            <p>
                                                <img src="/assets/img/PhillsLogo.png" class="PhillsLogoImgSize">
                                            </p>
                                        </td>
                                        <td style="vertical-align:top">
                                            <p style="margin-top:2px; margin-left:4px; font-size:17px; text-align:left">
                                                <b>Phill's Models</b>
                                            </p>
                                            <p style="margin-left:4px; text-align:left">Before getting into the cars and the best setups we wanted to mention
                                                <b>Phill's Models</b> in North Shields our
                                                <b>local model shop</b> - it's great to support guys like these in a time when
                                                online purchasing threatens these businesses and the assistance they can
                                                provide to racers and modellers alike.
                                            </p>
                                            <p style="margin-left:4px; text-align:left">
                                                <b>Phill's Models offer us a great service</b> where if you let Phill (or Chris
                                                Clarke) know in advance
                                                <b>they'll usually get the spares or tyres etc. you need down at the next race
                                                    meet
                                                </b> - this is great value for you and saves on postage - their website (including
                                                directions) can be accessed
                                                <a href="https://www.phillsmodels.com/">here</a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:middle">
                                            <p>
                                                <img src="/assets/img/TyresTC.png" class="TcGenericSizeSmall">
                                                <img src="/assets/img/TyresBuggy.png" class="TyresImgSize">
                                            </p>
                                        </td>
                                        <td style="vertical-align:top">
                                            <p style="margin-left:4px; margin-top:2px; font-size:16px; text-align:left">
                                                <b>Tyres</b>
                                            </p>
                                            <p style="margin-left:4px; font-size:14px; text-align:left">
                                                <B>Best TC Tyres</B>
                                                <br>Schumacher SST Yellow Mini Pin Tyres, SST Yellow Rally Tyres, or Carpet Dragon
                                                SST Tyres
                                            </p>
                                            <p style="margin-left:4px; font-size:14px; text-align:left">
                                                <B>Best Buggy Tyres</B>
                                                <br>Schumacher Mini Pin 2 Yellow compound tyres work best for buggies on the
                                                wooden gym floor and grip especially well when they start to just fray at
                                                the end of the pin (mini pin 1s are not far behind). Alternatively yellow
                                                darts and even mini spikes can work well and some like the 'edgier' staggered
                                                ribs at the front. The Schumacher Cactus tyres are not suited to this surface
                                                nor are tyres with the outer edge pins removed - these being better for the
                                                grippier surfaces (more grip roll) like astro or carpet
                                                <br>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top">
                                            <p style="margin-left:4px; margin-top:2px; font-size:16px; text-align:left">
                                                <b>Touring Cars (1/10th Electic)</b>
                                                <img src="/assets/img/TouringCar.png" class="TcGenericSize">
                                            </p>
                                        </td>
                                        <td style="vertical-align:top">
                                            <tr>
                                                <!-- TC Car 1 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/SchumacherMi5TC.jpg" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left; min-width:300px; max-width:300px">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>Schumacher Mi5</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                                <td style="min-width:25px">
                                                </td>
                                                <!-- TC Car 2 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/DurangoDETC410-2TC.jpg" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left; min-width:300px; max-width:300px">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>Durango DETC410</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <!-- TC Car 3 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/3RacingSakuraXITC.jpg" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>3Racing Sakura XITC</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                            </tr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top">
                                            <p style="margin-left:4px; margin-top:2px; font-size:16px; text-align:left">
                                                <b>4wd Buggies (1/10th Electic)</b>
                                                <img src="/assets/img/SchumacherCatL1.png" class="TcGenericSize">
                                                <br>
                                                <img src="/assets/img/Intruder.jpg" class="TcGenericSize">
                                            </p>
                                        </td>
                                        <td style="vertical-align:top">
                                            <tr>
                                                <!-- 4wd Buggy 1 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/TeamAss4wd.jpg" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left; min-width:300px; max-width:300px">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>Team Associated RC10 B64</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                                <td style="min-width:25px">
                                                </td>
                                                <!-- 4wd Buggy 2 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/TamiyaTRF501x.png" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left; min-width:300px; max-width:300px">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>Tamiya TRF501x</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <!-- 4wd Buggy 3 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/SchumacherCatK2.png" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left; min-width:300px; max-width:300px">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>Schumacher Cat K2</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                                <td style="min-width:25px">
                                                </td>
                                                <!-- 4wd Buggy 4 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/SchumacherCatK1Aero.png" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left; min-width:300px; max-width:300px">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>Schumacher Cat K1 Aero</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <!-- 4wd Buggy 5 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/Serpent4wd.jpg" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left; min-width:300px; max-width:300px">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>Serpent SRX4</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                                <td style="min-width:25px">
                                                </td>
                                                <!-- 4wd Buggy 6 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/Tekno4wd.jpg" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left; min-width:300px; max-width:300px">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>Tekno EB410</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                            </tr>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top">
                                            <p style="margin-left:4px; margin-top:2px; font-size:16px; text-align:left">
                                                <b>2wd Buggies (1/10th Electic)</b>
                                                <img src="/assets/img/2wdBuggy.jpg" class="TcGenericSize">
                                            </p>
                                        </td>
                                        <td style="vertical-align:top">
                                            <tr>
                                                <!-- 2wd Buggy 1 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/CougarKC.png" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left; min-width:300px; max-width:300px">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>Schumacher Cougar KC</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                                <td style="min-width:25px">
                                                </td>
                                                <!-- 2wd Buggy 2 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/CougarKF2.jpg" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left; min-width:300px; max-width:300px">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>Schumacher Cougar KF2 SE</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <!-- 2wd Buggy 3 -->
                                                <td style="vertical-align:middle">
                                                    <br>
                                                    <p>
                                                        <img src="/assets/img/Serpent2wd.jpg" class="TcGenericSizeSmall">
                                                    </p>
                                                </td>
                                                <td>
                                                    <p style="margin-left:8px; margin-top:16px; font-size:14px; text-align:left">
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Name: &nbsp;
                                                                <B>Serpent SRX2</B>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Setup: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="margin-left:8px">
                                                                Links: &nbsp;
                                                                <i>to follow</i>
                                                            </td>
                                                        </tr>
                                                    </p>
                                                </td>
                                            </tr>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->