<!--<div class="main-content">-->
<div class="container-fluid">
    <div class="row">
        <div style="margin-top: 10px">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header lozenge-color">
                        <h4 class="title">Where to find us</h4>
                    </div>
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="map-normal">
                                    <div class="map-normal-img">
                                        <div style="width: 100%; height: 100%;">
                                            <p style="margin-left:12px">We race indoors at the
                                                <b>Tynemet College Sports Hall</b> in Battle just off the Coast Road near Wallsend
                                                in Newcastle - see the map below and address below (or use the link here:
                                                <a href="https://www.google.co.uk/maps/place/Tyne+Metropolitan+College/@55.0074153,-1.5160783,17z/data=!3m1!4b1!4m5!3m4!1s0x487e7194fce5e055:0x170d587f6bc89efd!8m2!3d55.0074153!4d-1.5138896">
                                                    <b>Google Maps</b>
                                                </a>)</p>
                                            <p style="margin-left:32px">Tyne Metropolitan College
                                                <br>Battle Hill Drive
                                                <br>Wallsend
                                                <br>Tyne and Wear
                                                <br>NE28 9NL</p>
                                            <p style="margin-left:12px">The second map shows
                                                <b>where to find the Sports Hall</b> within the Tynemet College campus and
                                                <b>where is best to park</b> in order to best gain access to the hall</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="/assets/img/NCRC-map2.png" class="map-border" />
                                            <p style="margin-left:12px; font-size:80%">
                                                <i>Plain Google map showing location of Tynemet College off the Coast Road in
                                                    Wallsend near to Silverlink</i>
                                            </p>
                                        </td>
                                        <td>
                                            <div style="width: 96%; height: 96%">
                                                <img src="/assets/img/NCRC-map.png" class="map-border" />
                                            </div>
                                            <p style="margin-left:12px; font-size:80%">
                                                <i>Satellite Google map showing the Sports Hall at Tynemet College and the driving
                                                    route including best parking spots</i>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->